@model BankingApp.Models.TransactionViewModel
<div id="messageDiv" class="row mb-2" style="height: 50px;">
    @Html.Raw(TempData["errormsg"])
</div>


<div id="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Hello @User.Identity.Name</h2>
            <p>You've reached <strong>home</strong> page at @DateTime.Now.ToString()</p>
        </div>
        <div class="col-md-6">
            <h3>Runnning Balance: @ViewData["RunningBalance"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Deposit", "Home", FormMethod.Post, new { @style = "width: 75%;" }))
            { 
                <div class="form-group">
                    @Html.LabelFor(m => m.Amount, "Deposit", new { @for = "depositForm" })
                    @Html.TextBoxFor(m => m.Amount, "", new { @class = "form-control", @id = "depositForm", @placeholder = "Enter Amount", autocomplete="off" })
                </div>
                <button type="submit" class="btn btn-primary">Deposit</button>
            }
            @using (Html.BeginForm("Withdraw", "Home", FormMethod.Post, new { @style = "width: 75%; padding-top: 35px;" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Amount, "Withdraw", new { @for = "withdrawForm", @placeholder = "Enter Amount" })
                    @Html.TextBoxFor(m => m.Amount, "", new { @class = "form-control", @id = "withdrawForm", @placeholder = "Enter Amount", autocomplete="off"})
                </div>
                <button type="submit" class="btn btn-primary" on-click="return validateForm()">Withdraw</button>
            }
        </div>
        <div class="col-md-6">
            <h1>Past Transactions:</h1>
            <div id="transactionsDiv" style="height:300px;overflow:auto;">
                @foreach (var item in Model.UserTransactions)
                {
                    <p>@item.Type: @item.Amount</p>
                }
            </div>
        </div>
    </div>
</div> 
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        try {
            $("input[type='text']").each(function(){
               $(this).attr("value","");
            });
        }
        catch (e)
        { }
    });
     $('#transactionsDiv').animate({scrollTop: $('#transactionsDiv').prop("scrollHeight")}, 500);

    setTimeout(function() {
        $('#alertMessage').fadeOut('fast');
    }, 2000);
</script>